#mainSection {
  margin: auto;
  width: 50vw;
  min-height: 100vh;
  height: fit-content;
  background: radial-gradient(
    circle,
    rgba(96, 92, 60, 0.97) 0%,
    rgba(89, 87, 93, 0.97) 90%
  );
}
@media screen and (max-width: 1280px) {
  #mainSection {
    width: 100vw;
  }
}
