.homePage {
  display: grid;
  height: fit-content;
  grid-template-areas:
    "description socials"
    "works prof";
  grid-template-columns: 70% 30%;
  column-gap: 2%;
  row-gap: 70px;

  margin: auto;
  padding: 70px 0;
  width: 94%;
  justify-content: center;
}
.myDescriptionComponent {
  grid-area: description;
}
.mySocialComponent {
  grid-area: socials;
}
.myWorksComponent {
  grid-area: works;
}
.myProficienciesComponent {
  grid-area: prof;
}
