.socialLinksContainer {
  background-color: var(--main);
  align-content: center;
  width: fit-content;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 5px;
}

.socialLinksIcon {
  height: 40px;
  padding: 0px 2px;
}
.socialLinksIcon:hover {
  height: 45px;
  transform: translate(0px, -5px);
  transition-duration: 200ms;
}

.downloadResumeBtn {
  align-items: center;
  background-color: var(--secondary);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px 10px;
  width: fit-content;
}
.downloadResumeLink {
  display: flex;
  color: var(--text);
  text-decoration: none;
}
.downloadIcon {
  margin-left: 5px;
}

@media screen and (max-width: 720px) {
  .socialLinksContainer {
    padding: none;
  }
}
