.myTechComponent {
  background: var(--main);
  height: fit-content;
  border-radius: 5px;
}
.myTechHeader {
  background-color: var(--secondary);
  text-align: center;
  justify-content: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  padding: 5px;
  height: 30px;
}
.myTechContent {
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
}
.myTechGridItem {
  align-items: center;
}
.techStackName {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
  font-size: 16px;
}

@keyframes bar_fill {
  0% {
    width: 0px;
  }
  100% {
  }
}

.percent_bar {
  background-color: var(--text);
  margin-bottom: 20px;
  border-radius: 5px;
  height: 5px;
}

.bar_in {
  animation: 2s bar_fill ease-in;
  display: block;
  background-clip: border-box;
  border-radius: 5px;
  height: 5px;
  background-color: rgb(96, 92, 60);
}
